
.path {
    position: relative;
    max-width: 1280px;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
}
.path::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted black;
    color: black;
    width: 90%;
    top: 50%;
    left: 5%;
    margin-top: -6px;
}

.pacman {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: -20%;
    animation: moveForward 8s linear infinite;
    animation-delay: 0.8s;
}

.pacman::before, .pacman::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: solid 30px #40ffd9;
    margin-top: -30px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
}

.pacman::after {
    border-color: #40ffd9;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBottom 0.7s ease infinite;
}

.ghost {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 20%;
    margin-top: -35px;
    background: rgb(255,64,102);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    animation: moveForward 8s linear infinite, colourSwap 0.5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    bottom: 10%;
    left: 20%;
    z-index: 99;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 50px;
    font-weight: bold;
    color: white;

}


@keyframes moveForward {
    0% {
        left: -20%;
    }
    100% {
        left: 100%;
    }
}

@keyframes mouthTop {
    50% {
        transform: rotate(44deg);
    }
}

@keyframes mouthBottom {
    50% {
        transform: rotate(-44deg);
    }
}

@keyframes peeperLeft {
    0%, 100% {
        left: 5px;
    }
    50% {
        left: 10px;
    }
}

@keyframes peeperRight {
    0%, 100% {
        left: 30px;
    }
    50% {
        left: 38px;
    }
}




